URxvt.saveLines:3000
URxvt.scrollBar: false
URxvt.transparent:false
URxvt.geometry: 85x30
URxvt.internalBorder: 10
URxvt.iso14755 : false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/google-chrome-beta
URxvt.matcher.button: 1

URxvt.font: xft:Roboto Mono for Powerline:size=12,xft:Roboto Mono:size=12
URxvt.boldFont: xft:Roboto Mono for Powerline:bold:size=12,xft:Roboto Mono:bold:size=12
URxvt.italicFont: xft:Roboto Mono for Powerline:italic:size=12,xft:Roboto Mono:italic:size=12
URxvt.bolditalicFont: xft:Roboto Mono for Powerline:bold:italic:size=12, xft:Roboto Mono:bold:italic:size=12
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgba

URxvt.depth: 24
URxvt*foreground: #C5C8C6
URxvt*background: [100]#1D2021
*foreground: #C5C8C6
*background: #1D2021

! Black + DarkGrey
*color0: #1D2021
*color8: #A5B6BC
! DarkRed + Red
*color1: #A54242
*color9: #CC6666
! DarkGreen + Green
*color2: #99CC99
*color10: #AAE3AA
! DarkYellow + Yellow
*color3: #DE935F
*color11: #F0C674
! DarkBlue + Blue
*color4: #5F819D
*color12: #81A2BE
! DarkMagenta + Magenta
*color5: #85678F
*color13: #B294BB
! DarkCyan + Cyan
*color6: #5E8D87
*color14: #8ABEB7
! LightGrey + White
*color7: #5A6066
*color15: #C5C8C6

rofi.lines: 3
rofi.font: Roboto 16
rofi.width: 17
rofi.padding: 10
rofi.location: 0
rofi.yoffset: -200
rofi.color-enabled: true
rofi.color-window: #1D2021, #5F819D, #1D2021
rofi.color-normal: #1D2021, #A5B6BC, #1D2021, #5F819D, #C5C8C6
rofi.color-urgent: #1D2021, #A5B6BC, #1D2021, #5F819D, #C5C8C6
rofi.color-active: #1D2021, #A5B6BC, #1D2021, #5F819D, #C5C8C6
rofi.terminal: urxvt
rofi.levenshtein-sort: false
