URxvt.saveLines:3000
URxvt.scrollBar: false
URxvt.transparent:false
URxvt.pointerBlink: true
URxvt.geometry: 85x30

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/google-chrome-beta
URxvt.matcher.button: 1

URxvt.font: xft:Roboto Mono:size=12,xft:Droid Sans Mono for Powerline:size=13
URxvt.boldFont: xft:Roboto Mono:size=12,xft:Droid Sans Mono for Powerline:size=13
URxvt.letterspace: -5
URxvt.linespace: -1

URxvt.depth: 24
URxvt*foreground: #c5c8c6
URxvt*background: [100]#1d2021
*foreground: #c5c8c6
*background: #1d2021

! Black + DarkGrey
*color0: #1d2021
*color8: #a5b6bc
! DarkRed + Red
*color1: #a54242
*color9: #cc6666
! DarkGreen + Green
*color2: #99cc99
*color10: #aae3aa
! DarkYellow + Yellow
*color3: #de935f
*color11: #f0c674
! DarkBlue + Blue
*color4: #5f819d
*color12: #81a2be
! DarkMagenta + Magenta
*color5: #85678f
*color13: #b294bb
! DarkCyan + Cyan
*color6: #5e8d87
*color14: #8abeb7
! LightGrey + White
*color7: #5a6066
*color15: #c5c8c6

rofi.lines: 3
rofi.font: Roboto 16
rofi.width: 17
rofi.padding: 10
rofi.location: 0
rofi.yoffset: -200
rofi.color-enabled: true
rofi.color-window: #1d2021, #5f819d, #1d2021
rofi.color-normal: #1d2021, #a5b6bc, #1d2021, #5f819d, #c5c8c6
rofi.color-urgent: #1d2021, #a5b6bc, #1d2021, #5f819d, #c5c8c6
rofi.color-active: #1d2021, #a5b6bc, #1d2021, #5f819d, #c5c8c6
rofi.terminal: urxvt
rofi.levenshtein-sort: false
